.myReviewsToEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.editReviewBtn {
  padding: 0.5%;
  background-color: #007bff;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  color: white;
  margin: 2%;
}
.reviewEditForm {
  border: solid 2px black;
  border-radius: 5px;
  margin: 1em;
  padding: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 720px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.reviewEditTextarea {
  width: 16em;

}
